body{

    background-color: white;
   
}

.DatosPersonales{

text-align: center;

}

header {

background-color: black;
color: white;
text-align: center ;
    
} 

.centrado {

text-align: center;

}
